<br><br>
<div class="bgimg">
    <br>
    <br>
    <br>
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-lg-6 aa text-center">
                <h3 style="color: red;"> View Menu Details</h3>
                <hr>
                <div>
                    <div>
                        <label> <b> Menu Id: </b></label> {{menu.mid}}
                    </div>
                    <div>
                        <label> <b> Title: </b></label> {{menu.title}}
                    </div>
                    <div>
                        <label> <b> Price: </b></label> ${{menu.price}}
                    </div>
                    <br>
                    <button class="btn btn-primary py-2 px-3" type="submit" (click)="goBack()">Back</button>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
</div>