<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <a href="index.html" class="navbar-brand ms-4 ms-lg-0">
                <h1 class="fw-bold text-primary m-0"><a href="userhome"><i class="bi-shop" style="color: red;font-size:50px;"></i> swi<span class="text-secondary">gg</span>y</a></h1>
            </a>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li> <a href="" class="nav-item nav-link active" routerLink="/userhome" routerLinkActive="active">Home</a></li>
                <li> <a href="" class="nav-item nav-link" routerLink="/userabout" routerLinkActive="active">About Us</a></li>
                <li><a href="" class="nav-item nav-link" routerLink="/usermenu" routerLinkActive="active">Menu</a></li>

                <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 2</a></li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                    </ul>
                </li> -->
                <li> <a href="" class="nav-item nav-link" routerLink="/usercontact" routerLinkActive="active">Rate Us</a></li>
                <li> <a href="" class="nav-item nav-link" routerLink="/userreview" routerLinkActive="active">Review & Blogs</a></li>
                <!-- <li> <a href="" class="nav-item nav-link" routerLink="login" routerLinkActive="active">login</a></li> -->
                <!-- <li class="dropdown"><a href="#"><span>Logins</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                    <ul>
                        <li><a href="#" routerLink="userlog" routerLinkActive="active">User Login</a></li>
                        <li><a href="#" routerLink="adminLogin" routerLinkActive="active">Admin Login</a></li>
                        <li><a href="#" routerLink="admin" routerLinkActive="active">Admin Login</a></li>
                        <li><a href="#" routerLink="diliverylog" routerLinkActive="active">Delivery Login</a></li>
                    </ul>
                </li> -->
                <!-- <li> <a href="" class="nav-item nav-link" routerLink="signup" routerLinkActive="active">signup</a></li> -->


                <li><a href="" class="nav-item nav-link" routerLink="/cart" routerLinkActive="active" style="size: 250px;"><i class="bi-cart-check-fill" style="font-size: 30px;"></i></a></li>
                <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
                <li><a href="" class="nav-item nav-link" routerLink="/userlog" routerLinkActive="active">Log Out</a></li>
            </ul>
            <!-- 
                <button class="btn btn-primary">
                    <i class="fas fa-cart-plus" style="font-size: 30px;"></i>
                    <div style="font-size: 10px;" class="badge bg-danger">5</div>
                </button> -->
        </nav>
        <!-- .navbar -->
        <!-- <a class="btn-book-a-table" href="#book-a-table">Book a Table</a>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i> -->
    </div>
</header>
<!-- End Header -->
<div class="bgimg">
    <br>

    <!-- Contact Start -->
    <div class="container-xxl py-6">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="display-5 mb-3" style="color: rgba(15, 13, 13, 0.977);font-size: 40px;">Rate us</p>
                <p style="font-size: 20px;">get your honest review</p>
            </div>
            <div class="row g-5 justify-content-center" style="border:solid 2px;">
                <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="bg-primary text-white d-flex flex-column justify-content-center h-100 p-5">
                        <h5 class="text-white">Call Us</h5>
                        <p class="mb-5"><i class="fa fa-phone-alt me-3"></i>+91 7875484348</p>
                        <h5 class="text-white">Email Us</h5>
                        <p class="mb-5"><i class="fa fa-envelope me-3"></i>urvesh004.com</p>
                        <h5 class="text-white">Office Address</h5>
                        <p class="mb-5"><i class="fa fa-map-marker-alt me-3"></i>M.G Road, Pune, India</p>
                        <h5 class="text-white">Follow Us</h5>
                        <div class="d-flex pt-2">
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-1" href=""><i class="fab fa-youtube"></i></a>
                            <a class="btn btn-square btn-outline-light rounded-circle me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4" style="color: rgb(0, 0, 0);">Help & Support Let's take a step ahead and help you better.<a href="https://htmlcodex.com/contact-form">Download Now</a>.</p>
                    <form #review="ngForm" (ngSubmit)="savedata(review)">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="fname" placeholder="Your First Name" name="fname" ngModel="fname">
                                    <label for="fname">Your First Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="lname" placeholder="Your Last Name" name="lname" ngModel="lname">
                                    <label for="lname">Your Last Name</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Profession" name="subject" ngModel="subject">
                                    <label for="Profession">Profession</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a Review here" id="message" style="height: 200px" name="review" ngModel="review"></textarea>
                                    <label for="message">Review</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit" (click)="getreview()">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


    <!-- Google Map Start -->
    <div class="container-xxl px-0 wow fadeIn" data-wow-delay="0.1s" style="margin-bottom: -6px;">
        <iframe class="w-100" style="height: 450px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001156.4288297426!2d-78.01371936852176!3d42.72876761954724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4ccc4bf0f123a5a9%3A0xddcfc6c1de189567!2sNew%20York%2C%20USA!5e0!3m2!1sen!2sbd!4v1603794290143!5m2!1sen!2sbd"
            frameborder="0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</div>
<!-- Google Map End -->